*{
    margin: 0px;
    padding: 0px;
    
}
.header{
    height: 80px;
    background: url(header.jpg) no-repeat;
    text-indent: 175px
    
}
.right{
    text-align: right;
}
.leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
}
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
}
.center{
    text-align: center;
}
.justify {
    text-align: justify;
  }
.pogoda{
    float: left;
    width: 140px;
    margin-left: 10px;
}
.photo{
    float: right;
    width: 220px;
    margin-left: 10px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content{
    margin-left: 140px;
    margin-right: 220px;
    padding: 5px;
    text-align: justify;
    text-indent: 20px;
}
.footer{
    background-color: #CCCCCC;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    clear: both;
}